<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" text="text/css" href="/stylesheets/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/js/player.js"></script>
    <title>1942</title>
</head>
<body>
    <div id="container">
        <div id="bullets"></div>
        <div id="heroes"></div>
        <div id="enemies"></div>
    </div>
    <div id="scoreboard"> 
        <div id="score">SCORE:<span id="scoretag" class="scoretag">0</span></div>
        <div id="leaderboards">
            <p class="txt-sm">Online Players: </p>
            <ol id="online-list">
              
            </ol>
        </div>
        <div id="instructions">
            <p class="ins"> First Player to Score 10000 Points wins!</p>
            <p class="ins">Have Fun!</p>
        </div>

    </div>
    
</body>
</html>